@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-helvetica: Helvetica, sans-serif;
}

@theme {
    --animate-infinite-scroll: infinite-scroll 30s linear infinite;
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}
